.button {
	-fx-text-fill: #111111;
	-fx-background-color: #DFB444;
	-fx-border-radius: 20;
}

.VboxButtons {
	-fx-background-color: #EEEEEE;
	-fx-background-size: cover;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

.button hover{
    -fx-background-color: rgba(255, 255, 255, .5);
       -fx-background-radius: 5,4,3,5;
       -fx-background-insets: 0,1,2,0;
       -fx-text-fill: white;
	   -fx-font-size:12px;
	   -fx-background-insets: 0,1,2,3;
	   -fx-background-radius: 3,2,2,2;

}
.button armed{
    -fx-background-color: rgba(255, 255, 255, .8);
       -fx-background-radius: 5,4,3,5;
       -fx-background-insets: 0,1,2,0;
       -fx-text-fill: white;
	   -fx-font-size:12px;
	   -fx-background-insets: 0,1,2,3;
	       -fx-background-radius: 3,2,2,2;

}